@page
@model PolovniAutomobili.Pages.Automobili.ListModel
@{
}
<h1>Automobili</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <button class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>

@foreach(var car in Model.Cars)
{
    <partial name="_Summary" model="car"/>
}

<a class="btn btn-primary" asp-page="./Edit">Add new car</a>
@Model.Message;